.navbar{
    height: 12vh;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-weight: 400;
}
.navbar-brand{
    padding-left: 2em;
    font-weight: 900;
}
.form-inline{
    padding-right: 2em;
}
.search-link, .cart-link{
    color: black;
    text-decoration: none;
    padding: 1em;
}
.search-link:hover, .cart-link:hover{
    color: black;
    text-decoration: none;
}
.ctn-front{
    background-image: url('./assets/kara-eads-buhmhprfo3g-unsplash.jpg');
    font-family: 'Noto Sans JP', sans-serif;
    height: 80vh;
    width: auto;
}
.front-text{
    font-family: 'Raleway', sans-serif;
    padding-top: 4vh;
    padding-left: 40vh;
}
.form-btn{
    padding-left: 40vh;
}
#btn-primary{
    font-weight: 600;
    border: 2px solid;
    border-radius: 75px;
    padding: 18px;
}
#btn-secondary{
    background-color: #232b2b;
    color: #d0d0d0;
    font-weight: 600;
    border-radius: 75px;
    padding: 18px;
}
#front-title{
    font-weight: 900;
    padding-top: 1em;
}
#front-sub{
    font-weight: 400;
    padding-top: 1em;
}
#front-desc{
    font-weight: 200;
    padding-top: 1em;
}
.ctn-card{
    padding-top: 4em;
}
#front-card{
    border: 0px solid;
}
.grey{
    color: grey;
}
.ctn-story{
    background-image: url('./assets/annie-spratt-hX_hf2lPpUU-unsplash.jpg');
    font-family: 'Noto Sans JP', sans-serif;
    height: 60vh;
    width: auto;
}
.story-text{
    font-family: 'Raleway', sans-serif;
    padding-top: 18vh;
    padding-left: 40vh;
}
.ctn-work{
    font-family: 'Noto Sans JP', sans-serif;
    height: 120vh;
    width: auto;
    text-align: center;
}
.work-text{
    font-family: 'Raleway', sans-serif;
    padding-top: 16vh;
}
#work-title{
    font-weight: 600;
}
.work-image{
    height: 14em;
    width: auto;
    margin: 16px;
}
.work-image:hover{
    transform: scale(1.1);
    filter: brightness(0.4)
}
.ctn-plan{
    margin-top: 2em;
    background-image: url("./assets/samantha-gades-BlIhVfXbi9s-unsplash.jpg");
    height: 60vh;
    width: auto;
}