.navbar{
    height: 12vh;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-weight: 400;
}
.navbar-brand{
    padding-left: 2em;
    font-weight: 900;
}
.form-inline{
    padding-right: 2em;
}
.search-link, .cart-link{
    color: black;
    text-decoration: none;
    padding: 1em;
}
.search-link:hover, .cart-link:hover{
    color: black;
    text-decoration: none;
}